BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED_CAPS" SITE "28" ;
LOCATE COMP "LED_SHIFT" SITE "29" ;
IOBUF PORT "LED_CAPS" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED_SHIFT" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
VOLTAGE 2.375 V;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
LOCATE COMP "KEY_RESTORE" SITE "35" ;
IOBUF PORT "KEY_RESTORE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "LED_B0" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_B1" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_B2" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_B3" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_G0" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_G1" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_G2" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_G3" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_R0" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_R1" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_R2" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_R3" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "LED_B0" SITE "2" ;
LOCATE COMP "LED_B1" SITE "8" ;
LOCATE COMP "LED_B2" SITE "16" ;
LOCATE COMP "LED_B3" SITE "19" ;
LOCATE COMP "LED_G0" SITE "1" ;
LOCATE COMP "LED_G1" SITE "7" ;
LOCATE COMP "LED_G2" SITE "15" ;
LOCATE COMP "LED_G3" SITE "18" ;
LOCATE COMP "LED_R0" SITE "3" ;
LOCATE COMP "LED_R1" SITE "9" ;
LOCATE COMP "LED_R2" SITE "17" ;
LOCATE COMP "LED_R3" SITE "20" ;
IOBUF PORT "SCAN_IN[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SCAN_IN[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SCAN_IN[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SCAN_IN[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SCAN_IN[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SCAN_IN[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SCAN_IN[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SCAN_IN[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SCAN_OUT[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCAN_OUT[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCAN_OUT[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCAN_OUT[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCAN_OUT[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCAN_OUT[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCAN_OUT[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCAN_OUT[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCAN_OUT[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCAN_OUT[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "SCAN_OUT[0]" SITE "61" ;
LOCATE COMP "SCAN_OUT[1]" SITE "62" ;
LOCATE COMP "SCAN_OUT[2]" SITE "63" ;
LOCATE COMP "SCAN_OUT[3]" SITE "64" ;
LOCATE COMP "SCAN_OUT[4]" SITE "65" ;
LOCATE COMP "SCAN_OUT[5]" SITE "66" ;
LOCATE COMP "SCAN_OUT[6]" SITE "67" ;
LOCATE COMP "SCAN_OUT[7]" SITE "68" ;
LOCATE COMP "SCAN_OUT[8]" SITE "69" ;
LOCATE COMP "SCAN_OUT[9]" SITE "70" ;
LOCATE COMP "SCAN_IN[0]" SITE "43" ;
LOCATE COMP "SCAN_IN[1]" SITE "42" ;
LOCATE COMP "SCAN_IN[2]" SITE "41" ;
LOCATE COMP "SCAN_IN[3]" SITE "40" ;
LOCATE COMP "SCAN_IN[4]" SITE "39" ;
LOCATE COMP "SCAN_IN[5]" SITE "38" ;
LOCATE COMP "SCAN_IN[6]" SITE "37" ;
LOCATE COMP "SCAN_IN[7]" SITE "36" ;
